*{
	font-family: 'Montserrat' ;
	font-weight: 500;
}

button{
	-webkit-appearance: none;
}

body{
	background: #E5E5E5;
}

/* Hero-Section */

.hero{
	display: flex;
	flex-direction: column;
	height: 608px;
	background: #F2F2F2;
}

.hero__title{
	width: 690px;
	padding: 135px 120px 32px;
	margin: 0;
	color: #333333;
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	line-height: 110%;
}

.hero__subtitle{
	width: 690px;
	padding-left: 120px;
	padding-bottom: 64px;
	color: #4F4F4F;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 120%;
}

.btn_big{
	width: 279px;
	height: 44px;
	margin-left: 120px;
	background: #333333;
	outline: none;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
	color: #FFFFFF;
	cursor: pointer;
	border:0;
}

/* Header */

.header{
	background: #FFFFFF;
	height: 92px;
	border-bottom: 1px solid #F2F2F2;
}

.header__wrapper{
	height: 44px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 24px 120px;
}

.logo{
	margin: 0;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
}

.logo_gray{
	color:#BDBDBD;
}

.call-back{
	display: flex;
	align-items:center;
}

.call-back__link{
	text-decoration: none;
	padding-right: 32px;
	color: #303030;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
}

.btn_transparent{
	width: 218px;
	height: 44px;
	border: 2px solid #333333;
	box-sizing: border-box;
	text-decoration: none;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 28px;
	text-align: center;
	color: #333333;
	outline: none;
	background: transparent;
	cursor: pointer;
}

/* Company Description  */

.comp-description{
	background: #FFFFFF;
	height: 540px;
}

.comp-description__title{
	width: 588px;
	margin: 0;
	padding: 104px 120px 80px;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 110%;
	color: #333333;
}

.skills{
	margin-left: 120px;
	margin-right: 120px;
	display: flex;
	justify-content: space-between;
}

.skill-box{
	width: 384px;
	height: 164px;
}

.skill-box__title{
	margin: 0;
	font-style: normal;
	font-weight: bold;
	font-size: 96px;
	line-height: 100%;
	color: #333333;
	padding-bottom: 24px;
}

.title_gray{
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 40px;
	color: #BDBDBD;
}

.skill-box__subtitle{
	width: 384px;
	height: 44px;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 120%;
	color: #333333;
}

/* Services  */

.services{
	height: 524px;
	background: #333333;
}

.services__title{
	margin: 0;
	padding-top: 80px;
	padding-left: 120px;
	padding-bottom:64px;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 110%;
	color: #FFFFFF;
}

.services-container{
	margin-left: 120px;
	margin-right: 120px;
	margin-bottom: 104px;
	display: flex;
	justify-content: space-between;
}

.service-box{
	width: 282px;
	height: 232px;
	background: #FFFFFF;
	border: 1px solid #BDBDBD;
	box-sizing: border-box;
}

.service-box__icon{
	padding-left: 24px;
	padding-top: 32px;
	padding-bottom: 24px;
	padding-right:157.71px;
}

.service-box__description{
	display: block;
	padding-left: 24px;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 110%;
	color: #333333;
}

/* Advantages  */

.advantages{
	background: #FFFFFF;
	height: 732px;
	display: flex;
	justify-content: space-between;
}

.advantages__img{
	margin: 80px 0;
	width: 720px;
	height: 571.53px;
}

.advantages__content{
	margin: 184px 120px 184px 114px;
}

.advatages__title{
	margin: 0;
	padding-bottom:40px;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 110%;
	color: #333333;
}

.advantages__description{
	width: 384px;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 120%;
	color: #333333;
}

/* Materials  */

.materials{
	height: 610px;
	display: flex;
	justify-content: space-between;
	background: #FFFFFF;
}

.firms{
	width: 540px;
	height: 498px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: 120px;
	margin-top: 56px;
}

.firms___center{
	padding-left: 72px;
	padding-right: 72px;
}

.fims__img{
	mix-blend-mode: luminosity;
}

.fims__img:hover{
	mix-blend-mode:normal;
}

.materials__content{
	width: 50%;
	background: url(../img/handmoney.svg) no-repeat bottom right #333333;
}

.materials__title{
	margin: 0;
	width: 384px;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 110%;
	color: #FFFFFF;
	padding-left:102px;
	padding-top: 80px;
}

.materials__text{
	font-family: "Montserrat";
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 120%;
	color: #F2F2F2;
	width: 281px;
	padding-left:102px;
	padding-top: 20px;
}

/* Calculator  */

.quiz-boxes{
	display: flex;
	flex-wrap: wrap;
}

.calculator{
	background: #FFFFFF;
}

.calculator__title{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 110%;
	margin: 0;
	padding-top: 80px;
	padding-left: 120px;
}

.calculator__content{
	display: flex;
	justify-content: space-between;
	padding: 40px 120px 80px;
}

.quiz{
	width: 792px;
	height: 533px;
	border: 1px solid #E0E0E0;
	box-sizing: border-box;
}

.quiz__title{
	margin: 0;
	padding-left: 32px;
	padding-top: 24px;
	padding-bottom: 24px;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 110%;
	color: #333333;
	border-bottom: 1px solid #E0E0E0;
}

.quiz__body{
	display: none;
}

.field{
	padding: 32px 0;
	margin: 0 32px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid rgba(238, 238, 238,0.5);
}

.field-area{
	border:none;
	padding-bottom: 85px;
}

.field__label{
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 120%;
	color: #333333;
}

.field__input{
	margin: 0;
	padding: 0;
	width: 592px;
	border: 1px solid #E0E0E0;
	border-right: none;
	display: flex;
	justify-content: space-around;
	list-style: none;
}

.field__item{
	flex-basis: 50%;
	height: 40px;
	background: #FFFFFF;
	box-sizing: border-box;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #333333;
	padding-top: 8px;
	border-right: 1px solid #e0e0e0;
}

.item_active{
	background: #333333;
	color: #FFFFFF;
}

.field__number{
	width: 564px;
	height: 40px;
	border: 1px solid #E0E0E0;
	box-sizing: border-box;
	outline: none;
	color: #333333;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	padding-left: 16px;
}

.field__number::placeholder{
	color: #BDBDBD;
}

.field__area .field__label{
	padding-left: 8px;
}

/* QUIS_BODY_2/3/4/5/6 */

.quiz__body_activ{
	display: block;
}

.design-boxes{
	padding: 32px;
	padding-right: 0;
}

.design-box{
	width: 352px;
	height: 299px;
	border: 1px solid #E0E0E0;
	box-sizing: border-box;
	margin-right: 24px;
}

.design-box__img{
	width: 352px;
	height: 184px;
}

.design-box__title{
	margin: 0;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 110%;
	color: #333333;
	padding-left: 16px;
	padding-top: 16px;
}

.design-box__text{
	display: block;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 120%;
	color: #828282;
	padding-left: 16px;
	padding-top: 8px;
}

.coverage__boxes{
	/* padding: 0 32px; */
	padding-left:32px;
	padding-top: 24px;
}

.coverage__box{
	margin-bottom: 24px;
	border: 1px solid #E0E0E0;
	box-sizing: border-box;
	width: 226px;
	height: 150px;
	margin-right: 24px;
}

.coverage__img{
	width: 226px;
	height: 114px;
}

.coverage__title{
	padding: 5px 16px;
	margin: 0;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 110%;
	color: #333333;
}

.wall-coverage__boxes,.ceilings-coverage__boxes{
	padding-left:32px;
	padding-top: 24px;
}

.quiz__body-end{
	padding:60px;
}

.quiz__body-end__title{
	padding-top: 40px;
	display: block;
	margin: 0;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 110%;
	color: #333333;
}

.quiz__body-end__arrow{
 position: relative;
 left: 120px;
 top:95px;

}

.quiz__body-end__text{
	padding-top: 16px;
	margin: 0;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 120%;
	color: #333333;
}

.quiz__body-end__text-warring{
	padding-top: 8px;
}


/* QUIS_BODY_2/3/4/5/6_END */

.quiz__steps{
	display: flex;
	justify-content: space-between;
	align-items:center;
	padding: 0 32px;
	padding-top:24px;
	margin-bottom: 25px;
	border-top: 1px solid #E0E0E0;
}

.scale{
	width: 549px;
	display: flex;
	flex-direction: column;
}

.scale__text{
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
	color: #333333;
	padding-bottom: 8px;
}

.progress-bar{
	width: 100%;
	height: 4px;
	background: #F2F2F2;
	border-radius: 2px;
}

.progress-bar_gray{
	display: block;
	width: calc(100%/6);
	height: 4px;
	background: #828282;
	border-radius: 2px;
}

.back{
	margin-right: 8px;
	width: 32px;
	height: 32px;
	opacity: 0.4;
	border: 1px solid #4F4F4F;
	box-sizing: border-box;
	border-radius: 50px;
	background:#FFFFFF;
	outline: none;
	cursor: pointer;
}

.back__img{
	width: 18px;
}

.forward{
	width: 107px;
	height: 32px;
	background: #333333 url(../img/Arrow_white.svg) no-repeat 80% 50%;
	border:0;
	border-radius: 50px;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 100%;
	padding-right: 38px;
	color: #FFFFFF;
	outline: none;
	cursor: pointer;
}

.calculator__form{
	width: 384px;
	height: 533px;
	border: 1px solid #E0E0E0;
	box-sizing: border-box;
}

.repair-cost{
	background: #F2F2F2;
	height: 172px;
}

.repair-cost__text{
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 110%;
	color: #333333;
	padding-top: 32px;
	padding-left: 23px;
	margin: 0;
}

.repair-cost__price{
	display: block;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 100%;
	padding-top: 6px;
	padding-left: 23px;
}

.repair-cost__included{
	width: 203px;
	display: block;
	padding-top: 8px;
	margin-left: 23px;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 100%;
	color: #828282;
	border-bottom: 1px dashed #828282;
	cursor: pointer;
}

.repair-cost__deadline{
	display: block;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 100%;
	color: #333333;
	padding-top: 24px;
	padding-left: 23px;
}

.loyalty-program{
	background: #FFFFFF;
}

.loyalty-program__title{
	margin: 0;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 110%;
	color: #333333;
	padding-top: 24px;
	padding-left: 23px;
}

.loyalty-program__description{
	display: block;
	width: 264px;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 110%;
	color: #333333;
	padding-top: 16px;
	padding-left: 23px;
}

.loyalty-program__form{
	padding-top: 16px;
	padding-left: 23px;
}

.loyalty-program__input{
	width: 336px;
	height: 40px;	
	padding-left: 16px;
	margin-bottom: 8px;
	outline: none;
	background: #FFFFFF;
	border: 1px solid #E0E0E0;
	box-sizing: border-box;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #333333;
}

.loyalty-program__input::placeholder{
	color: #BDBDBD;
}

.loyalty-program__btn{
	margin: 0;
	margin-top: 16px;
	width: 133px;
	height: 44px;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
	color: #FFFFFF;
}

.loyalty-program__agree-text{
	display: block;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 110%;
	color: #BDBDBD;
	padding-top: 8px;
}

/* Work-stages  */

.work-stages{
	background: #333333;
	height: 413px;
}

.work-stages__title{
	margin: 0;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 110%;
	color: #FFFFFF;
	padding-top: 80px;
	padding-left: 120px;
}

.stages{
	margin-top: 80px;
	padding-left: 120px;
	display: flex;
	justify-content: space-around;
}

.stage{
	width: 365px;
	margin-right: 40px;
}

.stage__title{
	margin: 0;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 110%;
	color: #FFFFFF;
	background:url(../img/Line.svg) no-repeat 95% 50%;
}

.stage__title-nobg{
	background:none;
}

.stage__desription{
	display: block;
	width: 288px;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 140%;
	color: #F2F2F2;
	padding-top: 19px;
}

/* Object-Map  */

.object-map{
	background: #FFFFFF;
	display: flex;
	justify-content: space-between;
	height: 632px;
}

.object-map__content{
	width: 589px;
	height: 424px;
	margin-top: 80px;
	margin-left: 120px;
	box-sizing:border-box;
}

.object-map__title{
	margin: 0;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 110%;
	color: #333333;
}

.objects{
	margin-top: 64px;
	display: block;
}

.object{
	display: flex;
	align-items:center;
	width: 486px;
	height: 80px;
	margin-bottom: 8px;
	border: 1px solid #E0E0E0;
	box-sizing: border-box;
}

.object__img{
	width: 48px;
	height: 48px;
	padding-left: 15px;
	padding-right: 30px;
}

.object__text{
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 110%;
	color: #000000;
}

.map{
	mix-blend-mode: luminosity;
}

.questions{
	height: 182px;
	background: #333333;
}

.questions__content{
	display: flex;
	align-items:center;
	justify-content: center;
	height: 86px;
	padding: 48px 120px;
}

.questions__text{
	padding-right: 51px;
	border-right: 1px solid #F2F2F2;
}

.questions__title{
	margin: 0;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 110%;
	color: #FFFFFF;
}

.questions__description{
	display: block;
	width: 434px;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 120%;
	color: #FFFFFF;
}

.questions__form{
	margin-left: 60px;
}

.form{
	display: flex;
	justify-content: space-around;
}

.form__input{
	width: 220px;
	height: 44px;
	border: 1px solid #FFFFFF;
	background: #333333;
	box-sizing: border-box;
	margin-right: 24px;
	margin-bottom: 8px;
	padding-left: 16px;
	outline: none;
	color: #FFFFFF;
}



.form__btn{
	width: 168px;
	height: 44px;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
	text-align: center;
	color: #FFFFFF;
}

.form__agree-text{
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	color: #828282;
}


/* Works  */

.works{
	background: #FFFFFF;
}

.works__content{
	padding-top: 82px;
	padding-left: 122px;
}

.works-header{
	display: flex;
	align-items:center;
	justify-content: space-between;
}

.works-arrows{
	margin-right: 120px;
}

.arrow{
	width: 48px;
	height: 48px;
	border: none;
	outline: none;
	cursor: pointer;
}

.prev-arrow{
	background: #E0E0E0 url(../img/Arrow_white.svg) no-repeat 50% 50% ;
	background-size: 24px;
	transform: rotate(-180deg);
	margin-right: 8px;
}

.next-arrow{
	background: #333333 url(../img/Arrow_white.svg) no-repeat 50% 50%;
	background-size: 24px;
}

.works__title{
	margin: 0;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 110%;
	color: #333333;
}

.works-slider{
	margin-top: 58px;
	padding-bottom: 50px;
	overflow: hidden;
}

.works-slider__item{
	width: 720px;
	height: 500px;
	outline: none;
	margin-right: 32px;
	background:url(../img/slider__img.png) no-repeat center;
}

.works-slider__title{
	margin: 0;
	padding-left: 40px;
	padding-top: 40px;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 110%;
	color: #333333;
}

.works-more{
	display: inline-block;
	background: url(../img/black-arrow.svg) no-repeat 100% 98.2%;
	padding-left: 564px;
	padding-top: 371px;
	width: 136px;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 23px;
	color: #333333;
	cursor: pointer;
}

/* Feedback  */

.feedback{
	background: #FFFFFF;
}

.feedback-content{
	padding: 30px 120px;

}

.feedback-header{
	display: flex;
	justify-content: space-between;
	align-items:center
}

.feedback__title{
	margin: 0;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 110%;
	color: #333333;
}

.feedback__button{
	width: 197px;
	height: 44px;
}

.feedback-boxes{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 40px;
}

.feedback-box{
	border: 1px solid #E0E0E0;
	margin-bottom: 24px;
	box-sizing: border-box;
	width: 588px;
	height: 282px;
}

.feedback-box__content{
	padding:32px;
}

.feedback-box__title{
	margin: 0;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 110%;
	color: #333333;
}

.feedback-box__text{
	width: 524px;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 120%;
	color: #828282;
	}

.feedback__btn-next{
	margin-top: 24px;
	margin-bottom: 56px;
	width: 275px;
	height: 44px;
	border: 1px solid #333333;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
	color: #333333;
}

/* Footer  */

.footer{
	height: 480px;
	background: #333333;
}

.footer-content{
	display: flex;
	padding: 72px 120px;
}

.footer .call-back{
	width: 50%;
	border-right: 1px solid #F2F2F2;
	display: flex;
	flex-direction: column;
	align-items: baseline;
}

.footer .call-back__title{
	width: 360px;
	margin: 0;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 34px;
	letter-spacing: 0.01em;
	color: #FFFFFF;
}

.footer .call-back__description{
	width: 470px;
	padding-top: 24px;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
	color: #F2F2F2;
}

.call-back__form{
	padding-top: 32px;
}

.footer .call-back__phone{
	width: 384px;
	height: 33px;
	opacity: 0.6;
	background: #333333;
	outline: none;
	border: none;
	border-bottom: 1px solid #FFFFFF;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 24px;
	letter-spacing: 0.01em;
	color: #FFFFFF;
}

.footer .call-back__agree{
	width: 384px;
	padding-top: 16.5px;
	display: block;
	font-style: normal;
	font-weight: 300;
	font-size: 10px;
	line-height: 10px;
	letter-spacing: 0.01em;
	color: #F2F2F2;
}

.btn__footer{
	margin-top: 24px;
	height: 42px;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.01em;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	background: #333333;
	outline: none;
}

.communication-options{
	width: 50%;
	padding-left: 125px;
}

.communication-options__boxes{
	display: flex;
	justify-content: space-between;
}

.communication-options__box{
	display: flex;
	flex-direction: column;
}

.communication-options__desription{
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	color: #F2F2F2;
	padding-bottom: 8px;
	padding-top: 35px;
}

.communication-options__text{
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	color: #FFFFFF;
}

.chats{
	padding-top: 40px;
}

.chats__names{
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	color: #F2F2F2;
}

.chat-boxes{
	display: flex;
	padding-top: 16px;
	padding-bottom: 69px;
}

.chat{
	border: 1px solid #FFFFFF;
	margin-right: 8px;
	padding-top: 8px;
	box-sizing: border-box;
	width: 100px;
	height: 32px;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	letter-spacing: 0.01em;
	text-decoration: none;
	color: #FFFFFF;
}

.agree-link{
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	text-decoration-line: underline;
	color: #FFFFFF;
}

.agree__info{
	display: block;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
	color: #828282;
	padding-top: 17px;
}
