*{
	font-family: 'Montserrat' ;
	font-weight: 500;
}

/* Hero-Section */

.hero{
	display: flex;
	flex-direction: column;
	height: 608px;
	background: #F2F2F2;
}

.hero__title{
	width: 690px;
	padding: 135px 120px 32px;
	margin: 0;
	color: #333333;
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	line-height: 110%;
}

.hero__subtitle{
	width: 690px;
	padding-left: 120px;
	padding-bottom: 64px;
	color: #4F4F4F;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 120%;
}

.btn_big{
	width: 279px;
	height: 44px;
	margin-left: 120px;
	background: #333333;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
	color: #FFFFFF;
}

/* Header */

.header{
	height: 92px;
	border-bottom: 1px solid #F2F2F2;
}

.header__wrapper{
	height: 44px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 24px 120px;
}

.logo{
	margin: 0;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
}

.logo_gray{
	color:#BDBDBD;
}

.call-back{
	display: flex;
	align-items:center;
}

.call-back__link{
	text-decoration: none;
	padding-right: 32px;
	color: #303030;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
}

.btn_transparent{
	width: 218px;
	height: 44px;
	border: 2px solid #333333;
	box-sizing: border-box;
	text-decoration: none;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 28px;
	text-align: center;
	color: #333333;
}